@import './../../../ui/custom/src/_variables.scss';
@import './../../../ui/custom/src/main.scss';

section.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;

  margin: 32px 16px;

  text-align: center;

  > h1 {
    border-bottom: 1px solid $colorPrimaryYellow;

    color: #5A5959;
  }
}

section.events-list {
  margin-bottom: 40px;

  > div.events-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 32px;

    margin-bottom: 32px;

    > article.event {
      background-color: $colorPrimaryYellowLighter;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;

      padding: 16px;
      margin: 0 16px;

      > img {
        width: 100%;
        height: 120px;

        object-fit: cover;
      }

      > .information-container {
        > p {
          margin: 0;
          padding: 0;

          color: #5A5959;
        }

        > p.description {
          margin-bottom: 16px;
        }

        > button.event-button {
          width: fit-content;

          background-color: $colorPrimaryYellow;

          color: #5A5959;

          &:hover {
            background-color: #fcba61;
          }

          &:active {
            background-color: #da9a3f;
          }

          &:disabled {
            background-color: #ffdaac;
          }
        }
      }
    }
  }

  > div.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    > button:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}

button.blue-no-bg-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $colorPrimaryBlue;

  &:disabled {
    color: $colorPrimaryBlueLight;
  }
}

/* End Tablet, Begin Laptop */
@media screen and (min-width: 768px) {
  section.header {
    align-items: center;
    gap: 32px;

    > h1 {
      width: fit-content;
      padding: 0 32px;
      margin: auto;
    }

    > input {
      width: 100%;
      max-width: 572px;
    }

    > button,
    > select {
      display: none;
    }
  }

  section.events-list {
    margin-bottom: 52px;

    > div.events-list-container {
      gap: 16px 36px;

      margin-bottom: 36px;

      > article.event {
        width: 276px;
        margin: 0;

        > img {
          height: 180px;
        }
      }
    }

    > div.buttons-container {
      gap: 16px;
    }
  }
}
