<div class="footer">
  <div class="footer-top">
    <a class="logo" href="#">
      <img src="./../../../assets/images/logo.png" alt="logo">
    </a>

    <ul class="menu-options">
      <li><a href="#">Home</a></li>

      <li><a href="#">Eventos</a></li>

      <li><a href="#">Entretenimiento</a></li>

      <li><a href="#">Restaurantes</a></li>
    </ul>

    <ul class="categories">
      <li><a href="#">Turismo</a></li>

      <li><a href="#">Hoteles</a></li>

      <li><a href="#">Eventos</a></li>

      <li><a href="#">Generales</a></li>
    </ul>
  </div>

  <div class="divider"></div>

  <div class="footer-bottom">
    <div class="copyright">
      <p>2023© Zacatecas capital</p>
    </div>

    <div class="social-media">
      <a href="#">
        <mat-icon matListItemIcon>facebook</mat-icon>
      </a>
      <a href="#">
        <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
      </a>
      <a href="#">
        <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
      </a>
    </div>
  </div>
</div>
