@import './../../../ui/custom/src/mixins.scss';

//Navegación
.navbar {
  height: 58px;
  padding: 0;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);

  mat-toolbar {
    padding: 12px 16px;
    background-color: #fff;
  }

  .navbar-spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 140px;
  }

  .navbar-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
