<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over">
    <div class="menu-title-container">
      <h3>Menú</h3>
    </div>

    <mat-action-list>
      <a mat-list-item role="listitem" class="expansion-indent-3 active" href="#">
        <mat-icon matListItemIcon>home</mat-icon>
        <span>Home</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>view_list</mat-icon>
        <span>Catálogo</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>celebration</mat-icon>
        <span>Eventos</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>call</mat-icon>
        <span>Contacto</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>facebook</mat-icon>
        <span>Facebook</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
        <span>Instagram</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
        <span>Youtube</span>
      </a>

    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="navbar">
      <mat-toolbar>
        <a class="navbar-brand" href="#">
          <img src="./../../../assets/images/logo.png" class="logo" alt="logo">
        </a>

        <span class="navbar-spacer"></span>

        <ul class="navbar-desktop-items">
          <li class="active">
            <a href="#">
              Home
            </a>
          </li>
          <li class="vertical-line"></li>
          <li class="vertical-line"></li>
          <li>
            <a href="#">
              Catálogo
            </a>
          </li>
          <li>
            <a href="#">
              Eventos
            </a>
          </li>
          <li>
            <a href="#">
              Contacto
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon>facebook</mat-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
            </a>
          </li>
        </ul>

        <button mat-icon-button class="navbar-menu-button" aria-label="Menú" (click)="drawer.toggle()">
          <mat-icon svgIcon="app-menu">menu</mat-icon>
        </button>
      </mat-toolbar>
    </nav>

    <p *ngFor="let aux of array">aux</p>

  </mat-sidenav-content>
</mat-sidenav-container>
