<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over">
    <div class="menu-title-container">
      <h3>Menú</h3>
    </div>

    <mat-action-list>
      <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon>view_list</mat-icon>
          Catálogo
        </mat-list-item>

        <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon>celebration</mat-icon>
          Eventos
        </mat-list-item>

        <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon>call</mat-icon>
          Contacto
        </mat-list-item>

        <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon>facebook</mat-icon>
          Facebook
        </mat-list-item>

        <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
          Instagram
        </mat-list-item>

        <mat-list-item role="listitem" class="expansion-indent-3">
          <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
          Youtube
        </mat-list-item>

    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="navbar">
      <mat-toolbar>
        <a class="navbar-brand" href="#">
          <img src="./../../../assets/images/logo.png" class="logo" alt="logo">
        </a>

        <span class="navbar-spacer"></span>

        <ul class="navbar-desktop-items">
          <li>
            Catálogo
          </li>
          <li>
            Eventos
          </li>
          <li>
            Contacto
          </li>
          <li>
            <mat-icon matListItemIcon>facebook</mat-icon>
          </li>
          <li>
            <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
          </li>
          <li>
            <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
          </li>
        </ul>

        <button mat-icon-button class="navbar-menu-button" aria-label="Menú" (click)="drawer.toggle()">
          <mat-icon svgIcon="app-menu">menu</mat-icon>
        </button>
      </mat-toolbar>
    </nav>

    <p *ngFor="let aux of array">aux</p>

  </mat-sidenav-content>
</mat-sidenav-container>
