<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over">
    <div class="menu-title-container">
      <h3>Menú</h3>
    </div>

    <mat-action-list>
      <a mat-list-item role="listitem" class="expansion-indent-3 active" href="#">
        <mat-icon matListItemIcon>home</mat-icon>
        <span>Home</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>view_list</mat-icon>
        <span>Catálogo</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>celebration</mat-icon>
        <span>Eventos</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>call</mat-icon>
        <span>Contacto</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon>facebook</mat-icon>
        <span>Facebook</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
        <span>Instagram</span>
      </a>

      <a mat-list-item role="listitem" class="expansion-indent-3" href="#">
        <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
        <span>Youtube</span>
      </a>

    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <nav class="navbar">
      <mat-toolbar>
        <a class="navbar-brand" href="#">
          <img src="./../../../assets/images/logo.png" class="logo" alt="logo">
        </a>

        <span class="navbar-spacer"></span>

        <ul class="navbar-desktop-items">
          <li class="active">
            <a href="#">
              Home
            </a>
          </li>
          <li class="vertical-line"></li>
          <li class="vertical-line"></li>
          <li>
            <a href="#">
              Catálogo
            </a>
          </li>
          <li>
            <a href="#">
              Eventos
            </a>
          </li>
          <li>
            <a href="#">
              Contacto
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon>facebook</mat-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
            </a>
          </li>
          <li>
            <a href="#">
              <mat-icon matListItemIcon svgIcon="youtube"></mat-icon>
            </a>
          </li>
        </ul>

        <button mat-icon-button class="navbar-menu-button" aria-label="Menú" (click)="drawer.toggle()">
          <mat-icon svgIcon="app-menu">menu</mat-icon>
        </button>
      </mat-toolbar>
    </nav>

    <div class="spacer"></div>

    <section class="search-section">
      <div class="title">
        <h1>¿Salimos a explorar?</h1>
        <p>Encuentra los mejores lugares, eventos y más en Zacatecas</p>
      </div>

      <div class="region">a</div>

      <div class="searchbar">b</div>

      <button class="main-yrz-button">
        Buscar lugar
      </button>
    </section>


    <section class="main-categories-section">
      <div class="section-title yellow">
        <h2>Principales categorías</h2>
      </div>

      <div class="carousel-container">
        a
      </div>

      <button class="main-yrz-button">Ir al catálogo</button>
    </section>

    <section class="promotions-section">
      <div class="section-title pink">
        <h2>Promociones</h2>
      </div>

      <div class="carousel-container">
        b
      </div>
    </section>

    <section class="highlights-section">
      <div class="section-title pink">
        <h2>Lugares destacados</h2>
      </div>

      <div class="carousel-container">
        a
      </div>

      <button class="main-yrz-button">Ir al catálogo</button>
    </section>

    <section class="who-we-are">
      <div class="section-title blue">
        <h2>Quiénes somos</h2>
      </div>

      <p>
        Zacatecas capital es un proyecto que nace inicialmente en redes sociales con la idea de destacar los principales atractivos turísticos de zacatecas y destacando algúnos lugares de encuentro, para comer o demás eventos al momento
      </p>

      <div class="carousel-container">
        z
      </div>
    </section>

    <section class="contact-form">
      <div class="contact-form-header">
        <div class="contact-title">
          <div class="section-title yellow">
            <h2>¿Quieres saber más?</h2>
          </div>

          <p>Si quieres saber más sobre nosotros, tienes dudas o quieres anunciarte con nosotros, déjanos tus datos, en breve nos pondrémos en contacto contigo.</p>
        </div>
      </div>

      <form action="#" [formGroup]="contactForm">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput type="text" formControlName="name" name="name" id="name">
          <mat-error *ngIf="contactForm.get('name')!.hasError('required')">
            Campo <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <div class="row">
          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input matInput type="tel" formControlName="phone" name="phone" id="phone">
            <mat-error *ngIf="contactForm.get('phone')!.hasError('required')">
              Campo <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="contactForm.get('phone')!.hasError('minlength') || contactForm.get('phone')!.hasError('maxlength')">
              Deben ser 10 dígitos (Ej. 1234567890)
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input matInput type="email" formControlName="email" name="email" id="email">
            <mat-error *ngIf="contactForm.get('email')!.hasError('email') && !contactForm.get('email')!.hasError('required')">
              Formato inválido
            </mat-error>
            <mat-error *ngIf="contactForm.get('email')!.hasError('required')">
              Campo <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Déjanos saber</mat-label>
          <textarea matInput formControlName="opinion" name="opinion" id="opinion" cols="30" rows="10"></textarea>
          <mat-error *ngIf="contactForm.get('opinion')!.hasError('required')">
            Campo <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <button class="main-yrz-button" type="submit">Enviar</button>
      </form>
    </section>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
