<div class="place-card" [routerLink]="['/lugar', place.webId]">
  <div class="place-card-header">
    <img
      [src]="place.gallery[0]"
      title="{{ place.name }}"
    >

    <div class="place-img-filter"></div>

    <div class="place-img-txt-cost notes" *ngIf="place.budget">
      <mat-icon>person_outline</mat-icon>
      {{ place.budget }}
    </div>
    <div class="place-img-txt-lugar notes">{{ place.zones[0] }}</div>
  </div>

  <div class="place-card-body">
    <p class="input">{{ place.name }}</p>
    <p class="notes">#{{ categoryName ?? 'Sin categoría' }}</p>
  </div>
</div>
