<ng-container *ngIf="place">
<section class="header">

  <div class="main-info">
    <h1 class="h1">{{ place.name }}</h1>
    <p class="paragraph bold">{{ place.zones }}</p>
  </div>

  <div class="other-info">
    <div class="chip">#{{ place.idCategory }}</div>
    <button mat-button type="button">
      <mat-icon>ios_share</mat-icon>
      Compartir
    </button>
  </div>

</section>

<section class="photographs">
  <img
    *ngFor="let imgUrl of place.gallery.slice(0, 5); index as i"
    [src]="imgUrl"
    alt="imagen_galeria_{{ i+1 }}"
    title="Galería ({{ i+1 }})"
    (click)="showAllImages()"
  >

  <button mat-button type="button" class="reverse-button" (click)="showAllImages()">
    Ver más
    <mat-icon>chevron_right</mat-icon>
  </button>
</section>

<hr>

<section class="place-information">
  <img
    [src]="place.logoUrl"
    alt="logotipo_empresa"
    title="Logotipo de {{ place.name }}"
  >

  <div class="information-container">
    <div class="main-information">
      <h2 class="h1">
        Sobre el
        <span>{{ place.name }}</span>
      </h2>

      <p class="paragraph">
        {{ place.shortDescription }}
      </p>

      <p class="paragraph" *ngIf="isMoreDescriptionShown">
        {{ place.longDescription }}
      </p>

      <button
        mat-button
        type="button"
        class="blue-no-bg-button reverse-button"
        *ngIf="place.longDescription"
        (click)="toggleShowMoreDescription()"
      >
        {{ !isMoreDescriptionShown ? 'Mostrar más' : 'Mostrar menos' }}
        <mat-icon class="material-symbols-outlined">
          {{ !isMoreDescriptionShown ? 'chevron_right' : 'chevron_left' }}
        </mat-icon>
      </button>
    </div>

    <div class="services-list">
      <div class="services-list-item">
        <mat-icon class="material-symbols-outlined">location_on_outlined</mat-icon>
        <p class="paragraph">{{ place.address }}</p>
      </div>
      <div class="services-list-item" *ngIf="place.budget">
        <mat-icon class="material-symbols-outlined">payments</mat-icon>
        <p class="paragraph">{{ place.budget }}</p>
      </div>
      <div class="services-list-item">
        <mat-icon class="material-symbols-outlined">schedule</mat-icon>
        <p class="paragraph">{{ place.schedule }}</p>
      </div>
    </div>
  </div>
</section>

<hr class="yellow" *ngIf="place.additionalLinks">

<section class="links" *ngIf="place.additionalLinks">
  <h2 class="h2">Links adicionales</h2>

  <button
    mat-button
    type="button"
    class="blue-no-bg-button"
    *ngFor="let additionalLink of place.additionalLinks"
    (click)="redirectTo(additionalLink.url)"
  >
    <mat-icon class="material-symbols-outlined">download</mat-icon>
    Descargar {{ additionalLink.name }}
  </button>
</section>

<hr class="yellow">

<section class="services">
  <h2 class="h2">Lo que este lugar ofrece</h2>

  <p class="services-subtitle">Generales</p>

  <div class="services-list">
    <div class="services-list-item" *ngFor="let amenity of place.mainAmenities">
      <mat-icon class="material-symbols-outlined" [fontIcon]="amenity.icon"></mat-icon>
      <p class="paragraph">{{ amenity.name }}</p>
    </div>
  </div>


  <p class="services-subtitle" *ngIf="areMoreServicesShown">Otros</p>

  <div class="services-list" *ngIf="areMoreServicesShown">
    <div class="services-list-item" *ngFor="let amenity of place.otherAmenities">
      <mat-icon class="material-symbols-outlined" [fontIcon]="amenity.icon"></mat-icon>
      <p class="paragraph">{{ amenity.name }}</p>
    </div>
  </div>

  <button
    mat-button
    type="button"
    class="blue-no-bg-button reverse-button"
    *ngIf="place.otherAmenities && place.otherAmenities.length > 0"
    (click)="toggleShowMoreServices()"
    >
    {{ !areMoreServicesShown ? 'Mostrar más' : 'Mostrar menos' }}
    <mat-icon class="material-symbols-outlined">
      {{ !areMoreServicesShown ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
  </button>
</section>

<hr class="yellow">

<section class="promotions-section">
  <h2 class="h2">Promociones</h2>

  <app-promotions-banner
    [promotions]="featuredPromotions"
  ></app-promotions-banner>
</section>

<hr class="yellow">

<section class="location">
  <h2 class="h2">Ubicación</h2>

  <div class="maps-container">
    <iframe
      [src]="place.googleMapsUrl"
      width="600"
      height="450"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
      title="Ubicación de {{ place.name }}"
    ></iframe>
  </div>
</section>

<hr>

<section class="social-media">
  <h2 class="h2">Links sociales</h2>

  <div class="buttons-container">
    <button mat-button type="button" *ngFor="let socialMedia of place.socialMedia" (click)="redirectTo(socialMedia.url)">
      <mat-icon [svgIcon]="socialMedia.type"></mat-icon>
      {{ socialMedia.name }}
    </button>
  </div>
</section>

<hr>

<section class="labels">
  <h2 class="h2">Etiquetas</h2>

  <div class="chips-container">
    <div class="chip">#{{ place.idCategory }}</div>
    <div class="chip" *ngFor="let label of place.labels">{{ label }}</div>
  </div>
</section>

<hr>

<app-event-banner
  [eventModel]="featuredEvent"
></app-event-banner>

<div class="control-buttons-container">
  <button mat-button type="button" class="blue-no-bg-button">
    <mat-icon>chevron_left</mat-icon>
    Página previa
  </button>

  <button mat-button type="button" class="blue-no-bg-button">
    <mat-icon>chevron_right</mat-icon>
    Siguiente página
  </button>
</div>
</ng-container>
