<div class="catalogo-card">
    <div class="catalogo-card-body">
        <div style="position: relative">
            <img class="catalogo-card-body-img" src="./assets/images/concierto.jpg">
            <div class="catalogo-img-txt-lugar notes">Zacatecas, centro</div>
            <div class="catalogo-img-txt-cost notes">$100-550</div>
        </div>
        <div class="catalogo-card-body-cont">
            <h3 class="input">Los reyes</h3>
            <p class="notes">#Restaurante</p>
        </div>
    </div>
</div>