<div class="promotions-background">
  <swiper
    [slidesPerView]="1"
    [pagination]="{clickable: true}"
    [loop]="true"
    [autoplay]="{delay: 2000}"
    [breakpoints]="{
      '768': {
        spaceBetween: 32,
      }
    }"
  >
    <ng-template swiperSlide *ngFor="let promotion of promotions">

      <div class="promotion">
        <img [src]="promotion.imgUrl" alt="Imagen de la promoción">

        <div class="information">
          <p class="title paragraph bold">Promoción {{ promotion.name }}</p>
          <p class="description h2 ">{{ promotion.description }}</p>
        </div>
      </div>

    </ng-template>
  </swiper>
</div>
