@import '/src/ui/custom/src/main';
@import '/src/ui/custom/src/variables';
@import '/src/ui/custom/src/mixins';

.filter-forms{
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;

  @include bp-md {
    flex-direction: row;
  }

  &.button-bottom {
    @include bp-md {
      flex-direction: column;
    }
  }

  input,
  select {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  //input
  .form-filter-input {
    height: 32px;

    box-shadow: 0px 1px 16px 4px rgba(0,0,0,0.15);
    border-radius: 32px;

    @include bp-sm{
      margin-bottom: 0;
    }

    .form-input {
      height: 100%;
      padding: 0 12px;

      border: none !important;
      border-top-left-radius: 32px !important;
      border-bottom-left-radius: 32px !important;

      @include bp-sm {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }

    .form-icon {
      height: 100%;
      padding: 0 12px;

      background: white;
      border: none;
      border-top-right-radius: 32px !important;
      border-bottom-right-radius: 32px !important;

      color: #5A5959;

      @include bp-sm{
        order: -1;

        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 32px !important;
        border-bottom-left-radius: 32px !important;
      }
    }
  }

  //select
  .form-filter-select{
    display: none;

    height: 32px;
    padding: 0 12px;

    background-color: white;
    box-shadow: 0px 1px 16px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px !important;
    border: none;

    @include bp-sm {
        display: block;

        margin-top: 0px;
        margin-left: -6px;

        box-shadow: none;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
  }
  .form-filter-select-movile{
    display: block;

    height: 32px;
    padding: 0 12px;

    background-color: white;
    box-shadow: 0px 1px 16px 4px rgba(0, 0, 0, 0.15);
    border-radius: 32px !important;
    border: none;

    @include bp-sm{
      display: none;
    }
  }

  > button {
    @include bp-sm {
      height: 29px;
    }

    @include bp-md {
      width: fit-content;
      width: -moz-fit-content;
      margin: auto;

      text-wrap: nowrap;
      white-space: nowrap;
    }
  }
}
