<div class="images-in-detail-container">
  <div class="top-swiper-container">
    <swiper
      style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
      [navigation]="true"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="top-swiper"
    >
      <ng-template swiperSlide *ngFor="let imgUrl of gallery">
        <img [src]="imgUrl" />
      </ng-template>
    </swiper>
  </div>


  <div class="bottom-swiper-container">
    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="8"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesVisibility]="true"
      [watchSlidesProgress]="true"
      class="bottom-swiper"
    >
      <ng-template swiperSlide *ngFor="let imgUrl of gallery">
        <img [src]="imgUrl" />
      </ng-template>
    </swiper>
  </div>
</div>
