@import '../../../ui/custom/src/main.scss';
@import '../../../ui/custom/src/variables';
@import '../../../ui/custom/src/mixins.scss';

@import "swiper/swiper";
@import "swiper/components/pagination/pagination";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.section-title {
  width: fit-content;
  padding: 0 24px;
  border-bottom: 2px solid #000;

  &.yellow {
    border-color: $colorPrimaryYellow;
  }

  &.pink {
    border-color: $colorPrimaryPink;
  }

  &.blue {
    border-color: $colorPrimaryBlue;
  }

  h2 {
    margin: 0;

    text-align: center;

    color: #5A5959;
  }
}

.filter{
  display: grid;
  justify-content: center;
  justify-items: center;

  margin: 16px;

  text-align: center;

  @include bp-md {
    margin-bottom: 40px;
  }

  .section-title {
    margin-bottom: 16px;

    @include bp-sm {
      margin-bottom: 32px;
    }
  }
}

.categories {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 16px;

  border-bottom: 2px solid $colorPrimaryBlue;

  @include bp-md {
    margin-bottom: 32px;
  }

  > swiper {
    width: 100%;
    padding-bottom: 8px;

    @include bp-md {
      padding-bottom: 24px;
    }

    .swiper-slide:first-child {
      margin-left: 16px;
    }
    .swiper-slide:last-child {
      margin-right: 16px;
    }

    .swiper-slide {
      position: relative;

      width: 112px;
      height: 44px;

      border-radius: 16px;

      @include  bp-md {
        width: 180px;
        height: 52px;
      }
    }
  }
}


.tags-categoria {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  max-width: 1440px;
  margin: 0 16px 32px;

  @include bp-md {
    margin-bottom: 20px;
  }

  .filter-chip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: fit-content;
    padding: 4px 16px;

    background: $colorPrimaryYellow;
    border-radius: 12px;

    @include font('Montserrat', normal, 400, 12px, 14px);
    color: #222;

    @include bp-md {
      border-radius: 16px;
    }

    > mat-icon {
      width: 18px;
      height: 18px;
      margin: 0;

      font-size: 18px;

      color: #222;
    }
  }
}

.places-list {
  padding: 0 16px 32px;
  max-width: 1440px;

  @include bp-md {
    padding: 0 24px 52px;
  }

  .places-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-auto-rows: 160px;
    justify-items: center;
    justify-content: center;
    gap: 32px;

    margin-bottom: 32px;

    @media (min-width: 375px) {
      grid-template-columns: repeat(auto-fill, 150px);
    }

    @include bp-sm {
      grid-template-columns: repeat(auto-fill, 150px);
    }

    @include bp-md {
      grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
      margin-bottom: 60px;
    }

    app-place-card {
      width: 100%;
      height: 100%;
    }
  }

  div.control-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;

    @include bp-md {
      gap: 16px;
    }

    > button {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $colorPrimaryBlue !important;
    }

    > button:nth-child(2) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      mat-icon {
        margin-right: 0;
      }
    }
  }
}
